<section class="index-page">
  {{!-- <p class="success">
    You have been successfully logged in!
  </p> --}}
  <img class="avatar" src="{{ picture }}">
  <p>Hello {{ name }} !</p>
  <a class="logout" href="/auth/logout">
    Logout
  </a>
</section>